.mat-checkbox-layout {
  .mat-checkbox-label {
    font-size: $fs-14;
  }
}

.mat-form-field-infix {
  zoom: .8;
}

.mat-form-field-infix {
  border-top: none;
}

.fm-search {
  button {
    margin: -10px 0 0 10px;
  }
}
