.receipt-register {
  width: 900px;
  @import "../../components/table";

  .medicament-list {

    .scrollbar {
      height: 100px;
    }

    .table {
      .table-header,
      .table-content {
        li {
          width: calc(40%/3);

          + li {
            margin-top: 10px;
          }

          &:first-child {
            width: 50%;
          }

          &:nth-child(4) {
            text-align: center;
          }

          &:last-child {
            width: 10%;
          }
        }
      }
    }
  }

}
