<div class="scrollbar">
  <elastic-scrollbar class="scrollbar-container">
    <nav>
      <ul>
        <li>
          <button (click)="dialogAuthFarmaciaPopular()"><i><img src="../../../../assets/ico/farmacia-popular.svg" alt="ico" /></i></button>
          <div class="tooltip">Autorizador Farmácia Popular</div>
        </li>
        <li>
          <button (click)="dialogAuthPBM()"><i><img src="../../../../assets/ico/autorizador-pbm.svg" alt="ico" /></i></button>
          <div class="tooltip">Autorizador PBM</div>
        </li>
        <li>
          <button (click)="dialogReceiptRegister()"><span class="material-icons">note_add</span></button>
          <div class="tooltip">Cadastro de Receituário</div>
        </li>
        <li>
          <button (click)="dialogRivalRegister()"><i class="fa fa-money" aria-hidden="true"></i></button>
          <div class="tooltip">Registrar Preço da Concorrência</div>
        </li>
        <li>
          <button (click)="dialogDelivery()"><i class="fa fa-ambulance" aria-hidden="true"></i></button>
          <div class="tooltip">Entrega em Domicílio</div>
        </li>
        <li>
          <button (click)="dialogProductExchange()"><i class="fa fa-archive" aria-hidden="true"></i></button>
          <div class="tooltip">Troca / Devolução de Produtos</div>
        </li>
        <li>
          <button (click)="dialogOrderStore()"><span class="material-icons">store</span></button>
          <div class="tooltip">Pedido Direto Loja</div>
        </li>
        <li>
          <button (click)="dialogTransferProductStore()"><span class="material-icons">local_shipping</span></button>
          <div class="tooltip">Transferência de Produtos entre Lojas</div>
        </li>
        <!--<li>
          <button (click)="dialogClientSearch()"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
          <div class="tooltip">Pesquisa de Cliente</div>
        </li>-->
        <!--<li>
          <button (click)="dialogClientRegister()"><i class="fa fa-id-card" aria-hidden="true"></i></button>
          <div class="tooltip">Cadastro de Cliente</div>
        </li>-->
        <!--<li>
          <button (click)="LimparOrcamento()"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <div class="tooltip">Limpar Orçamento (Alt + F3)</div>
        </li>-->
        <!--<li>
          <button (click)="dialogIdSeller()"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
          <div class="tooltip">Login do Vendedor</div>
        </li>-->
        <!--<li>
          <button (click)="dialogIdClient()"><i class="fa fa-user" aria-hidden="true"></i></button>
          <div class="tooltip">CPF do Cliente</div>
        </li>-->
        <!--<li>
          <button (click)="dialogChargebackFarmaciaPopular()"><i class="fa fa-retweet" aria-hidden="true"></i></button>
          <div class="tooltip">Estorno Farmácia Popular</div>
        </li>-->
        <!--<li>
          <button (click)="dialogProductCRM()"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
          <div class="tooltip">CRM no Produto</div>
        </li>-->
        <!--<li>
          <button (click)="dialogProductSearch()"><span class="material-icons">find_in_page</span></button>
          <div class="tooltip">Pesquisa de Produto</div>
        </li>-->
        <!--<li>
          <button (click)="dialogBudgetSearch()"><span class="material-icons">find_in_page</span></button>
          <div class="tooltip">Pesquisar Orçamento</div>
        </li>-->
        <!--<li>
          <button (click)="dialogPrescriberRegister()"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
          <div class="tooltip">Cadastro do Prescritor</div>
        </li>-->
      </ul>
    </nav>
  </elastic-scrollbar>
</div>
